.collection .collection-item {
  background-color: var(--secondary-color) !important;
}
.collection .collection-item.avatar:not(.circle-clipper) > .circle,
.collection .collection-item.avatar :not(.circle-clipper) > .circle {
  border: 1px solid;
}
[type="checkbox"] + span:not(.lever):before,
[type="checkbox"]:not(.filled-in) + span:not(.lever):after {
  border: 2px solid white;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
