@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
#close {
  background-color: rgb(90, 19, 19) !important;
  color: rgb(173, 173, 173);
  font-weight: bolder;
}
#contador {
  position: fixed;
  top: 10%;
  left: 3%;
  color: aliceblue;
  background-color: rgb(6, 49, 49);
  padding: 0.5rem;
  box-shadow: 10px 5px 5px rgb(10, 10, 10, 0.6);
  border-radius: 10px;
  z-index: 10000;
}
#accept {
  background-color: rgb(25, 85, 25) !important;
  color: rgb(173, 173, 173);
  font-weight: bolder;
  margin-right: 0.5rem;
}
.modal,
.modal-fixed-footer,
#modal1 {
  width: 95% !important;
  height: 75%;
  max-height: 90% !important;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.633333333rem 0 0.956rem 0;
}
.modal,
.modal-content,
.modal-footer {
  background-color: var(--dt-background-color-container) !important;
}
.modal-footer {
  display: flex;
  justify-content: center;
}
.modal .modal-content {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.flex {
  display: flex;
  justify-content: center;
}

.flex > .card {
  margin-right: 1rem;
}
.flex > .card:first-child {
  margin-left: 1rem;
}

.searchTitles {
  font-family: "Noto Sans", sans-serif;
  color: white;
  font-weight: bolder;
}
