*{
    margin: 0;
}
table.customTable {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #1C1A1B;
    border-style: solid;
    color: #000000;
}

table.customTable td, table.customTable th {
    border-width: 2px;
    border-color: #1C1A1B;
    border-style: solid;
    padding: 5px;
}

table.customTable thead {
    background-color: #A6B1F8;
}

.tabs{
    background-color:#43a047;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}
